<div class="container col-4">
    <h2>Crear</h2>
    <form (ngSubmit)="userForm.form.valid && onSubmit()" method="post" #userForm="ngForm">
      <div class="form-group">
          <input class="form-control" [(ngModel)]="model.Dni" #Dni="ngModel" required name="Dni" id="Dni" type="number" placeholder="Dni">
      </div>
      <div *ngIf="Dni.dirty && Dni.invalid" clas="alert alert-danger">
        Dni Incorrecto
      </div>
      <div class="form-group">
          <input class="form-control" [(ngModel)]="model.Usuario" required #Usuario="ngModel" name="Usuario" type="text" placeholder="Username" value="">
      </div>
      <div *ngIf="Usuario.dirty && Usuario.invalid">
        Usuario Incorrecto
      </div>
      <div class="form-group">
          <input class="form-control" [(ngModel)]="model.Password" required #Password="ngModel" name="Password" type="password" placeholder="Password" value="">
      </div>            
      <div *ngIf="Password.dirty && Password.invalid">
        Contraseña Incorrecto
      </div> 
      <button class="btn btn-success" [disabled]="!userForm.form.valid">Guardar</button>
    </form>
    <div *ngIf="userForm.form.invalid">
        Hay Campos erroneos en el formulario, verifiquelos
    </div> 
</div>

