<a href="" style="margin-top : 5px;" class="btn btn-success" routerLink="create">+ Agregar</a>
<table class="table table-hover" style="margin-top : 5px;margin-right: 25px;">
	<thead>
		<tr style="font-weight: bold;">
			<td>Dni</td><td>Usuario</td><td>Accción</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of user_list">
			<td style="width : 0px;" class="col-lg" >{{user.dni}}</td>
			<td style="width : 0px;" class="col-lg">{{user.userName}}</td>
			<td style="width : 0px;" class="col-lg">
				<a href="" routerLink="/update/{{user.id}}">Modificar</a>
				<a style="padding-left : 12px;" href="" routerLink="/users" (click)="openEliminar(user.id,user.dni,user.usuario)" >Eliminar
				</a>
				<a href="" routerLink="/users" (click)="saveRolUser(user.id,option.value)">Guardar</a>
			</td>
		</tr>
	</tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page" aria-label="Default pagination"></ngb-pagination>





