<a href="" class="btn btn-success" routerLink="create">+ Agregar</a>
	<table class="table">
		<thead style="background-color : black; color : white;">
			<tr>
				<td>Dni</td> <td>Usuario</td><td>Contraseña</td><td></td><td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of user_list" class="col-1-4">
				<td>{{user.dni}}</td>
				<td>{{user.usuario}}</td>
				<td>{{user.password}}</td>
				<td><a href="" routerLink="/update/{{user.id}}">Modificar</a></td>
				<td><a href="" routerLink="/users" (click)="eliminarUsuario(user.id)" >Eliminar</a></td>
			</tr>
		</tbody>
	</table>




