<div class="container">
  <div class="form">
    <h2>Modificar</h2>
    <form (ngSubmit)="onSubmit()"  #userForm="ngForm">
      <input class="ng-valid" [(ngModel)]="model.dni" #Dni="ngModel" required name="Dni" id="Dni" type="number" placeholder="Dni"><br>
      <div *ngIf="submitted && Dni.invalid" clas="alert alert-danger">
          Dni Incorrecto
      </div>
      <input class="ng-valid" [(ngModel)]="model.usuario" required #Usuario="ngModel" name="Usuario" type="text" placeholder="Username" value=""><br>
      <div *ngIf="submitted && Usuario.invalid">
          Usuario Incorrecto
      </div>  
      <input class="ng-valid" [(ngModel)]="model.password" required #Usuario="ngModel" name="Password" type="password" placeholder="Nueva Contraseña" value=""><br>
      <div *ngIf="submitted && Password.invalid">
          Contraseña Incorrecta
      </div>  
        <button [disabled]="!userForm.form.valid">Save</button>
    </form>
    <div *ngIf="userForm.form.invalid && submitted">
        Hay Campos erroneos en el formulario, verifiquelos
    </div> 
</div>
  <a href="" routerLink="/users">Login</a>
</div>
