<div class="container col-3">
    <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="LoginForm.form.valid && onSubmit()" #LoginForm="ngForm">
          <div>
            <input [(ngModel)]="model.Usuario" class="form-control" type="text" name="username" #username="ngModel" placeholder="Usuario">
          </div>
                <div *ngIf="username.invalid">
                    Usuario Incorrecto
                </div>
          <div style="padding-top : 6px;">
            <input [(ngModel)]="model.Password" class="form-control"  type="password" placeholder="Contraseña" name="Password" #password="ngModel">
          </div>
                <div *ngIf="password.invalid">
                    Contraseña Incorrecta
                </div>          
          <div style="padding-top : 6px;margin-top : 15px;">
            <button [disabled]="LoginForm.form.invalid" class="btn btn-primary">Ingresar</button>
            <a class="btn btn-light" href="" routerLink="/register">Registrar</a>
          </div>
          <div *ngIf="!LoginForm.form.valid">
                Formulario Incorrecto
          </div>
        </form>
     
</div>

