<div class="container col-4">
    <h2>Registrar</h2>
    <form (ngSubmit)="userForm.form.valid && onSubmit()" method="post" #userForm="ngForm">
      <div class="form-group">
          <input class="form-control" [(ngModel)]="model.dni" #dni="ngModel" required name="dni" id="dni" type="number" placeholder="Dni">
          <div style="padding-top: 5px;" *ngIf="dni.invalid" class="alert alert-danger">
                Dni Incorrecto
          </div>
      </div>
      <div class="form-group">
          <input class="form-control" [(ngModel)]="model.usuario" required #usuario="ngModel" name="usuario" type="text" placeholder="Usuario" value="">
      </div>
      <div *ngIf="usuario.dirty && usuario.invalid" class="alert alert-danger">
        Usuario Incorrecto
      </div>  
      <div class="from-group">
          <input class="form-control" [(ngModel)]="model.password" required #password="ngModel" name="password" type="password" placeholder="Contraseña" value="">
      </div>    
      
      <div class="form-group" style="padding-top : 8px;">
          <button class="btn btn-success" [disabled]="!userForm.form.valid">Save</button>
      </div>
      <div *ngIf="password.dirty && password.invalid" class="alert alert-danger">
        Contraseña con caracteres invalidos
      </div> 
    </form>
    <div *ngIf="userForm.form.invalid">
        Hay Campos erroneos en el formulario, verifiquelos
    </div> 
<a class="btn btn-primary" href="" routerLink="/login">Login</a>
</div>

